body{
    background-color:#f3c9c9;
}
img{
    position:relative;
    left:50px;
    top:100px;
    width:320px;
}
h1{
    position:relative;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    left:45%;
    top:-390px;
}

.container{
    position:relative;
    top:-410px;
    left:35%;
    background-color: rgb(182, 182, 182);
    width:700px;
    height: 400px;
    border-radius: 20px;
}
.p{
    background-color: white;
    width:20px;
    height:10px;
    border: 1px solid rgb(117, 117, 117);
}
.table{
    position:relative;
    top:100px;
    left:50px;
}
td,label,th{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
input{
    width:250px;
    height:28px;
}
button{
    background-color: green;
    border:none;
    color:white;
    height:25px;
    border-radius: 10px;
}
.button{
    background-color:red;
    border:none;
    color:white;
    height:25px;
    border-radius: 10px;
}
.cancel{
    text-decoration: none;
    color:white;
}
select{
    width: 120px;
    height:30px;
}