*{
    margin:0%;
}
body{
    background-color: white;
}
.left-container{
    float:left;
    background-color: rgba(255, 208, 0, 0.562);
    width:25%;
    height:630px;
}
.top-container{
    float:right;
    background-color:rgb(9, 82, 131);
    width:75%;
    height:50px;
}
.title{
    color:white;
    margin-top:10px;
    margin-left:35%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:30px;
}
.img{
    width:200px;
  margin-left:15%;
}
li,a{
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-size:x-large;
    margin-top:20px;
    list-style:circle;
    cursor:pointer;
    text-decoration:none;
}
.hover{
    background-color:#ffffff62;
}
.graphic{
    margin: 150px 25px;
    width:20%;
}

.user-container{
    background-color: rgb(121, 120, 120);
    width:75%;
    height:580px;
    float:right;
}

button{
    border:none;
    text-decoration:none;
    background-color: rgb(0, 110, 255);
    color: rgb(255, 255, 255);
    margin: 5px;  
    border-radius: 20px;
    font-size: 20px;

}
.a{
    font-size: 12px;
    color:white;
}
.b{
    background-color: red;
}

th{
    font-size:12px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid rgb(3, 3, 3);
   
}
td{
    font-size:12px;
    font-family:cursive;
    border: 1px solid rgb(3, 3, 3);
   
}
.boxing{
    position:relative;
    top:20px;
    left:0px;
    background-color: aliceblue;
}
.submit{
    position:relative;
    top:10px;
}