* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: lucida sans;
  background-image: linear-gradient(#F8F6F0, #f5f3e7);
}
header {
  background-color: #F8F6F0;
  position: sticky;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 2;
}
nav {
  height: 140px;
  width: 100%;
  
}
.logo {
  height: 150px;
  width: 250px;
  cursor: pointer;
  margin: -125px 10px;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 140px;
  margin: 0 5px;
}
nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
nav ul li a,  nav ul a{
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  color: gray;
  text-decoration: underline;
  transition: 0.5s;
}
nav button {
  margin: 0px 15x 0px 15px;
  padding: 15px 25px;
  background-color: rgba(86, 53, 23, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: #ffffff;
  transition: all 0.3s ease 0s;
}
nav .login {
  margin: 0px 50px 0px 25px;
  cursor: pointer;
  color: #ffffff;
  transition: all 0.3s ease 0s;
}
nav button:hover {
  background-color: rgba(86, 53, 23, 0.8);
}
.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  .logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 1180px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #f8f6f0;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: gray;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

.area-container-1 {
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.area-container-1 p {
text-align: center;
font-size: 40px;
padding-top: 40px;
}
.divider {
  padding: 35px;
}
.line{
  width: 100%;
  height: 45;
  position: relative;
}
.line:after, .line::before{
  content: '';
  position: absolute;
  margin: auto;
  height: 2px;
  background: rgba(86, 53, 23, 1);
  width: 47%;
  top: 45%;
}
.line::after{
  left: 0;
}
.line::before{
  right: 0;
}
.diamond{
  height: 20px;
  width: 20px;
  border: 2px solid rgba(86, 53, 23, 1);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(45deg);
}
.container {
  width: 55%;
  margin: 0 auto;
}
.container ul li {
color: #505050;
display: block;
  font-size: 40px;
  margin: 40px 0;
text-decoration: none;
transition: all 0.3s ease;
}

footer {
  position: relative;
  width: 100%;
  background: #61acef;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    z-index: 1;
}
footer .social_icon,
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  flex-wrap: wrap;
}
footer .social_icon li,
footer .menu li {
  list-style: none;
}
footer .social_icon li a {
  font-size: 2em;
  color: rgb(0, 0, 0);
  margin: 0px 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .social_icon li a:hover {
  transform: translateY(-10px);
}
footer .menu li a {
  font-size: 1.2em;
  color: rgb(0, 0, 0);
  margin: 0px 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}
footer .menu li a:hover {
  opacity: 1;
}
footer p {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 15px;
    margin-bottom: -10px;
    font-size: 1.1em;
}
footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background:  url(Pictures/wave61acef.png);
    background-size: 1000px 100px;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 0;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 10px;
    animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave {
    0%{
        background-position-x: 1000px ;
    }
    100%{
        background-position-x: 0px;
    }
}
@keyframes animateWave_02 {
    0%{
        background-position-x: 0px ;
    }
    100%{
        background-position-x: 1000px;
    }
}